<style>
  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #4caf50; 
    text-align: center;
    text-transform: uppercase; 
    margin: 1em;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #4caf50; 
    text-align: center;
    text-transform: uppercase; 
    margin: 1em;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: center;
    padding: 8px;
  }

  th {
    background-color: #4caf50;
    color: white;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }
  form {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    margin: auto;
    margin-top: 5em;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  select,
  input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
  }

  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }
</style>
<h1>{{partido.local}} VS {{partido.visitante}}</h1>
<h2>{{partido.goles_local}} - {{partido.goles_visitante}}</h2>
<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Jugador</th>
      <th>Dorsal</th>
      <th>Equipo</th>
      <th>Minuto</th>
    </tr>
  </thead>
  <tbody>
    {% for evento in eventos %}
    <tr>
      <td>{{ evento.tipo }}</td>
      <td>{{ evento.jugador.nombre }}</td>
      <td>{{ evento.jugador.dorsal }}</td>
      <td>{{ evento.jugador.equipo}}</td>
      <td>{{ evento.tiempo }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form method="POST">
  {% csrf_token %}
  <label for="jugador">Jugador:</label>
  <select name="jugador" id="jugador" aria-placeholder="Selecciona jugador">
    <option value="" disabled selected hidden>Selecciona un jugador</option>
    {% for jugador in jugadores_local %}
    <option value="{{ jugador.id }}">{{ jugador.nombre }}</option>
    {% endfor %} {% for jugador in jugadores_visitante %}
    <option value="{{ jugador.id }}">{{ jugador.nombre }}</option>
    {% endfor %}</select
  ><br /><br />
  <label for="tipo_evento">Tipo de evento:</label>
  <select name="tipo_evento" id="tipo_evento">
    <option value="" disabled selected hidden>Selecciona un evento</option>
    <option value="Gol">Gol</option>
    <option value="Falta">Falta</option>
    <option value="Tarjeta Amarilla">Tarjeta amarilla</option>
    <option value="Tarjeta Roja">Tarjeta roja</option></select
  ><br /><br />
  <label for="tiempo">Minuto:</label>
  <input
    type="number"
    name="tiempo"
    id="tiempo"
    min="0"
    max="90"
    required
  /><br /><br />
  <button type="submit">Registrar evento</button>
</form>
